<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.ConsoleAppender" name="Stdout">
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %p [%c{1}#%C:%L] - %m%n" name="conversionPattern"/>
        </layout>
    </appender>
    <logger name="clarin.cmdi.componentregistry">
        <level value="info"/>
    </logger>
    <logger name="clarin.cmdi.componentregistry.Configuration">
        <level value="warn"/>
    </logger>
    <logger name="org.springframework.transaction">
        <level value="warn"/>
    </logger>
    <logger name="org.springframework.orm.jpa">
        <level value="warn"/>
    </logger>
    <logger name="org.springframework.data">
        <level value="warn"/>
    </logger>
    <logger name="org.hsqldb">
        <level value="warn"/>
    </logger>
    <root>
        <level value="info"/>
        <appender-ref ref="Stdout"/>
    </root>
</log4j:configuration>
