language: java

os:
 - linux

jdk:
  - openjdk11

script:
- bash -c 'if [ "${TRAVIS_TAG}" ]; then mvn versions:set -DnewVersion=${TRAVIS_TAG} versions:commit; fi'
- mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
- mvn test -B
- mvn clean install -DskipTests=true -Pdocker
deploy:
  provider: releases
  prerelease: true
  token: "${GITHUB_DEPLOY_TOKEN}"
  file: "ComponentRegistry/target/component-registry-rest-${TRAVIS_TAG}-docker.tar.gz"
  skip_cleanup: true
  on:
    tags: true

notifications:
  email:
    on_success: change
    on_failure: always
