<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:/org/springframework/beans/factory/xml/spring-beans-2.5.xsd">
	   
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="txDefinition" class="org.springframework.transaction.support.DefaultTransactionDefinition"></bean>

    <bean id="profileDescriptionDao" class="clarin.cmdi.componentregistry.impl.database.ProfileDescriptionDao">
	<property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="componentDescriptionDao" class="clarin.cmdi.componentregistry.impl.database.ComponentDescriptionDao">
	<property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="userDao" class="clarin.cmdi.componentregistry.impl.database.UserDao">
	<property name="dataSource" ref="dataSource"/>
    </bean>
        <bean id="commentsDao" class="clarin.cmdi.componentregistry.impl.database.CommentsDao">
	<property name="dataSource" ref="dataSource"/>
    </bean>

</beans>
