div.links {
    width: 100%;
}

div.container {
	width: 100%;
}

div.treeView {
    float: left;
    width: 300px;
    max-height: 700px;
    overflow: auto;
}

div.infoView {
    margin: 20px 0px 0px 300px;
}

textArea.contentTextArea {
	   width: 100%;
	   height: 500px;
}

textArea.descriptionTextArea {
       width: 100%;
       height: 200px;
}

form.manageAccount > div {
    margin-bottom: .5em;
}

form.manageAccount label {
    position: relative;
}

form.manageAccount label .manageAccountValue {
    display: block;
    position: absolute;
    left: 10em;
    top: 0;

    width: 20em;
    font-family: serif;
    font-size: initial;    
}
