<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config />

    <import resource="spring-config/component-registry.xml"/>
<!--    <import resource="spring-config/filesystem-impl.xml"/>-->
    <import resource="spring-config/database-impl.xml"/>
    
    <!--  For migration -->
    <bean id="fileSystemConfiguration" class="clarin.cmdi.componentregistry.impl.filesystem.FileSystemConfiguration" init-method="init" factory-method="getInstance">
        <property name="registryRoot" value="${registryRoot}" />
    </bean>
    <bean id="fileRegistryFactory" class="clarin.cmdi.componentregistry.impl.filesystem.ComponentRegistryFactoryImpl" init-method="init" factory-method="getInstance">
        <property name="configuration" ref="configuration"/>
        <property name="fileSystemConfiguration" ref="fileSystemConfiguration"/>
    </bean>
    <!--  For migration end -->

</beans>
