<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


  <bean id="configuration" class="clarin.cmdi.componentregistry.Configuration" init-method="init" factory-method="getInstance">
    <property name="registryRoot" value="${registryRoot}" />
    <property name="adminUsers">
      <set>
        <value>Patrick Duin</value>
      </set>
    </property>
    <property name="generalComponentSchema" value="http://www.clarin.eu/cmd/general-component-schema.xsd" />
    <property name="component2SchemaXsl" value="http://www.clarin.eu/cmd/comp2schema.xsl" />
    <property name="componentSpecSchemaLocation" value="http://www.clarin.eu/cmd http://www.clarin.eu/cmd/general-component-schema.xsd" />
  </bean>

  <bean id="componentRegistryFactory" class="clarin.cmdi.componentregistry.ComponentRegistryFactory" factory-method="getInstance">
  </bean>

</beans>
