/* CSS file */
Application {
    font-family: Verdana, Arial, Helv, Helvetica, sans-serif, "_sans";
}

ToggleButtonBar {
   buttonWidth: 90;
   horizontalGap: -1;
}

.borderStyles {
   borderStyle: solid;
   borderThickness: 2;
   borderColor: #009dff;
   cornerRadius: 8;
}

.xmlBrowser {
   borderStyle: none;
   borderThickness: 0;
   backgroundColor: #DDE3EF;
   cornerRadius: 8;
   dropShadowEnabled: true;
   verticalGap: 1;
   indicatorGap: 8;
}

.xmlBrowserHeader {
    fontWeight: bold;
}

.xmlBrowserField {
    fontWeight: normal;
}

.xmlBrowserValueLabel {
    fontWeight: normal;
}

.xmlEditorFieldEditField {
    borderStyle: solid;
    borderColor: #ffffff;
    borderThickness: 1;
    cornerRadius: 3;
    fontWeight: normal;
}

.xmlTextArea {
   borderStyle: solid;
   backgroundColor: #DDE3EF;
   borderThickness: 1;
   borderColor: #DDE3EF;
   cornerRadius: 8;
   dropShadowEnabled: true;
}







