/* CSS file */
Application {
    font-family: Verdana, Arial, Helv, Helvetica, sans-serif, "_sans";
}

ToggleButtonBar {
   buttonWidth: 90;
   horizontalGap: -1;
}

.borderStyle {
   borderStyle: solid;
   borderThickness: 2;
   borderColor: #009dff;
   cornerRadius: 8;
}

.xmlBrowser {
   borderStyle: solid;
   backgroundColor: #DDE3EF;
   borderThickness: 1;
   borderColor: #DDE3EF;
   cornerRadius: 8;
   dropShadowEnabled: true;
   verticalGap: 1;
   indicatorGap: 1;
}


.xmlBrowserField {
    fontWeight: bold;
}

.xmlBrowserHeader {
    labelWidth: 50;
}

.xmlBrowserHeaderCmdelement {
    labelWidth: 70;
}

.xmlEditorFieldEditField {
    borderStyle: none;
    fontWeight: normal;
}

.xmlBrowserValueLabel {
    fontWeight: normal;
}


.xmlTextArea {
   borderStyle: solid;
   backgroundColor: #DDE3EF;
   borderThickness: 1;
   borderColor: #DDE3EF;
   cornerRadius: 8;
   dropShadowEnabled: true;
}







